@font-face {
  font-family: "Tektur";
  /*Can be any text*/
  src: local("Tektur"),
    url("./fonts/Tektur-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: '#000';
  font-family: "Tektur", 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
